<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Vendas</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js"></script>
</head>
<body class="fundo">
    <div class="form">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="Data">Data de nascimeto</label>
        <input type="date" name="data" id="data">
        <label for="CPF">CPF</label>
        <input type="text" name="CPF" id="CPF">
        <label for="CEP">CEP</label>
        <input type="text" name="cep" id="cep">
        <label for="rua">Rua</label>
        <input type="text" name="rua" id="rua">
        <label for="numero">Número</label>
        <input type="number" name="numero" id="numero">
        <label for="bairro">Bairro</label>
        <input type="text" name="bairro" id="bairro">
        <label for="estado">Estado</label>
        <select name="estado" id="estado">
            
        </select>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
    </div>
    <form action="produtos.html" method="get">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>