<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Vendas</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js"></script>
</head>
<body class="fundo">
    <div class="menu">
        <div class="inf">
            <input class="input" type="email" placeholder="Digite seu email">
            <input class="input" type="password" placeholder="Digite sua senha">
        </div>
        <form action="../index.html" method="get">
            <button class="btn">Entrar</button>
        </form>
        <form action="cadastro.html" method="get">
            <label class="cadastro" for="cadastro">Não possui cadastro?</label>
            <button class="btn">Cadastrar</button>
        </form>
    </div>
</body>
</html>